@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-barlow {
    font-family: var(--font-barlow-semi-condensed);
  }
  .font-titillium {
    font-family: var(--font-titillium-web);
  }
}
